{{ ansible_managed | comment }}
# Rendered from roles/observability/templates/grafana-datasources.yml.j2.
apiVersion: 1

datasources:
  - name: VictoriaMetrics
    type: prometheus
    access: proxy
    url: http://127.0.0.1:{{ obs_vm_port }}
    isDefault: true
    editable: false
    jsonData:
      timeInterval: "15s"
      httpMethod: POST
